body {
  font-family: 'yekan', arial;
  margin-top: 90px;
  height: 2000px;
}

/*---------------------------------------------------------------
						Constants
---------------------------------------------------------------*/
	@font-face {
	    font-family:"yekan";
	    src: url("../fonts/Yekan.eot");
	    src: url("../fonts/Yekan.eot?#iefix")format("embedded-opentype"),
	    url("../fonts/Yekan.woff") format("woff"),
	    url("../fonts/Yekan.ttf") format("truetype");
	    font-weight: normal;
	    font-style: normal;
	}

	::selection {
		background: #C63437;
		color: #fff;
	}

	::-moz-selection {
		background: #C63437;
		color: #fff;
	}

	.noselect {
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none; 
	}

	.radius4 {
	    -webkit-border-radius: 4px 4px 4px 4px;
	    -moz-border-radius: 4px 4px 4px 4px;
	    -o-border-radius: 4px 4px 4px 4px;
	    border-radius: 4px 4px 4px 4px;
	}
	.shadow{
	    -webkit-box-shadow: 0px 0px 3px #666;
	    -moz-box-shadow: 0px 0px 3px #666;
	    -o-box-shadow: 0px 0px 3px #666;
	    box-shadow: 0px 0px 3px #666;
	}
	.insetshadow{
	    -webkit-box-shadow: 0px 6px 19px -8px rgba(0,0,0,0.5) inset;
	    -moz-box-shadow: 0px 6px 19px -8px rgba(0,0,0,0.5) inset;
	    -o-box-shadow: 0px 6px 19px -8px rgba(0,0,0,0.5) inset;
	    box-shadow: 0px 6px 19px -8px rgba(0,0,0,0.5) inset;
	}
	.textshadow{
	    -webkit-text-shadow:1px 1px 6px rgba(0,0,0, 0.8);
	    -moz-text-shadow:1px 1px 6px rgba(0,0,0, 0.8);
	    -ms-text-shadow:1px 1px 6px rgba(0,0,0, 0.8);
	    -o-text-shadow:1px 1px 6px rgba(0,0,0, 0.8);
	    text-shadow: 1px 1px 6px rgba(0,0,0, 0.8);
	}
	.transition {
	    -webkit-transition: all 0.5s ease;
	    -moz-transition: all 0.5s ease-in-out;
	    -o-transition: all 0.5s ease-in-out;
	    -ms-transition: all 0.5s ease-in-out;
	    transition: all 0.5s ease-in-out;
	}
	.transitionfast {
	    -webkit-transition: all 0.2s ease;
	    -moz-transition: all 0.2s ease-in-out;
	    -o-transition: all 0.2s ease-in-out;
	    -ms-transition: all 0.2s ease-in-out;
	    transition: all 0.2s ease-in-out;
	}
	.transitionslow {
	    -webkit-transition: all 1s ease;
	    -moz-transition: all 1s ease-in-out;
	    -o-transition: all 1s ease-in-out;
	    -ms-transition: all 1s ease-in-out;
	    transition: all 1s ease-in-out;
	}

/*---------------------------------------------------------------
						Custom BootStrap
---------------------------------------------------------------*/

	.btn-primary {
	  color: #ffffff;
	  background-color: #C63437;
	  border-color: #9B2628;
	  outline: 0;
	}
	.btn-primary:focus,
	.btn-primary.focus {
	  color: #ffffff;
	  background-color: #B32E31;
	  border-color: #8E2A2C;
	  outline: 0;
	}
	.btn-primary:hover {
	  color: #ffffff;
	  background-color: #B32E31;
	  border-color: #9B2628;
	}
	.btn-primary:active,
	.btn-primary.active,
	.open > .dropdown-toggle.btn-primary {
	  color: #ffffff;
	  background-color: #B32E31;
	  border-color: #9B2628;
	  outline: 0;
	}
	.btn-primary:active:hover,
	.btn-primary.active:hover,
	.open > .dropdown-toggle.btn-primary:hover,
	.btn-primary:active:focus,
	.btn-primary.active:focus,
	.open > .dropdown-toggle.btn-primary:focus,
	.btn-primary:active.focus,
	.btn-primary.active.focus,
	.open > .dropdown-toggle.btn-primary.focus {
	  color: #ffffff;
	  background-color: #9B2628;
	  border-color: #8E2A2C;
	}
	.btn-primary:active,
	.btn-primary.active,
	.open > .dropdown-toggle.btn-primary {
	  background-image: none;
	}
	.btn-primary.disabled:hover,
	.btn-primary.disabled,
	.btn-primary[disabled],
	.btn-primary[disabled]:hover,
	fieldset[disabled] .btn-primary:hover,
	.btn-primary.disabled:focus,
	.btn-primary[disabled]:focus,
	fieldset[disabled] .btn-primary:focus,
	.btn-primary.disabled.focus,
	.btn-primary[disabled].focus,
	fieldset[disabled] .btn-primary.focus {
	  background-color: #C63437;
	  border-color: #8E2A2C;
	}


	.navbar {
		border-radius: 0;
		background-color: #4B4B4D;
		border: 0;
	}
	.navbar-brand div {
		width: 75px;
		height: 51px;
		background-color: #fff;
		margin: -15px;
		text-align: center;
		padding-top: 11px;
	}

	.navbar-default .navbar-nav > li > a {
		color: #fff !important;
	}

	.navbar-default .navbar-nav > .open > a,
	.navbar-default .navbar-nav > .open > a:hover,
	.navbar-default .navbar-nav > .open > a:focus {
		background-color: #333;
	}

	.navbar-nav > .active > a {
		background-color: #333 !important;
	}
	.form-control {
		height: 57px;
	}
	.form-control:focus {
		border-color: #C63437;
		-webkit-box-shadow: 0 0 5px 1px rgba(198,52,55,0.5);
		box-shadow: 0 0 5px 1px rgba(198,52,55,0.5);
	}
	.badge {
		font-weight: normal;
	}

/*---------------------------------------------------------------
						Products
---------------------------------------------------------------*/

	.isotope {}

	.isotope .item {
		width: calc(25% - 14px);
		overflow: hidden;
		margin: 7px;
		background-color: #EEE;
		border-radius: 7px;
		border: 1px solid #ccc;
		float: left;
	}

	.isotope .item .postimg {
		height: auto;
		overflow: hidden;
	}

	.isotope .item .postimg img {
		width: 100%;
		margin: 0 auto;
	}

	.isotope .item .postimg img:hover {
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
		-ms-transform: scale(1.1);
		-o-transform: scale(1.1);
		transform: scale(1.1);
	}

	.isotope .item span.postname {
		color: #444;
		text-overflow: ellipsis;
		white-space: nowrap;
		position: absolute;
		bottom: 9px;
		padding-right: 6px;
	}

	.isotope .item button.btnadd {
		width: auto;
		height: 40px;
		cursor: pointer;
		float: left;
		border-radius: 0;
	}

	.isotope .item div.btninfo {
		font-size: 1.3em;
		position: absolute;
		top: 4px;
		right: 7px;
		color: #fff;
		cursor: pointer;
		opacity: 0.5;
	}

	.isotope .item div.btninfo:hover {
		opacity: 1;
	}

	#filters {
		margin-bottom: 20px;
	}

	#filters button {
		width: 90px;
	}

	#filters button:first-child {
		border-top-right-radius: 4px;
		border-bottom-right-radius: 4px;
	}

	#filters button:last-child {
		border-top-left-radius: 4px;
		border-bottom-left-radius: 4px;
	}

/*---------------------------------------------------------------
						Loader
---------------------------------------------------------------*/

	.myspinner {
		position: absolute;
		left: 12px;
		bottom: 29px;
		display: none;
	}

	.double-bounce1 {
		width: 17px;
		height: 17px;
		border-radius: 50%;
		background-color: #fff;
		opacity: 0.8;
		position: absolute;
		top: 0;
		left: 0;
		-webkit-animation: sk-bounce 1.0s infinite ease-in-out;
		animation: sk-bounce 1.0s infinite ease-in-out;
	}

	@-webkit-keyframes sk-bounce {
	  0%, 100% { -webkit-transform: scale(0.0) }
	  50% { -webkit-transform: scale(1.0) }
	}

	@keyframes sk-bounce {
	  0%, 100% { 
	    transform: scale(0.0);
	    -webkit-transform: scale(0.0);
	  } 50% { 
	    transform: scale(1.0);
	    -webkit-transform: scale(1.0);
	  }
	}

/*---------------------------------------------------------------
						Cart Page
---------------------------------------------------------------*/

	.panel-primary {
		border-color: #C63437 !important;
	}

	.panel-primary .panel-heading {
		background-color: #C63437 !important;
		border-color: #C63437 !important;
	}

	.panel-heading span {
		margin-top: -17px;
		cursor: pointer;
	}

	.emptyBasket {
		margin: 40px 15px;
		color: rgb(187, 187, 187);
	}

	.panel-body.discountBody {
		display: none;
	}

	.panel-body label {
		font-weight: normal;
	}

	.btn-delOrder {
		padding: 2px 0px;
		margin-left: 5px;
		border: none;
		background-color: transparent;
		z-index: 1;
		position: absolute;
		margin-top: 10px;
		margin-right: 5px;
	}

/*---------------------------------------------------------------
						Cart Modal
---------------------------------------------------------------*/

	.md-modal {
		position: fixed;
		top: 50%;
		left: 50%;
		width: 50%;
		max-width: 630px;
		min-width: 320px;
		height: auto;
		z-index: 2000;
		visibility: hidden;
		-webkit-backface-visibility: hidden;
		-moz-backface-visibility: hidden;
		backface-visibility: hidden;
		-webkit-transform: translateX(-50%) translateY(-50%);
		-moz-transform: translateX(-50%) translateY(-50%);
		-ms-transform: translateX(-50%) translateY(-50%);
		transform: translateX(-50%) translateY(-50%);
	}

	.md-show {
		visibility: visible;
	}

	.md-overlay {
		position: fixed;
		width: 100%;
		height: 100%;
		visibility: hidden;
		top: 0;
		left: 0;
		z-index: 1000;
		opacity: 0;
		background: rgba(0,0,0,0.7);
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;
	}

	.md-show ~ .md-overlay {
		opacity: 1;
		visibility: visible;
	}

	/* Content styles */
	.md-content {
		background-color: #FFF;
		position: relative;
		border-radius: 3px;
		margin: 0 auto;
	}

	.md-content h3 {
		margin: 0;
		padding: 0.4em;
		text-align: center;
		font-size: 2.4em;
		font-weight: 300;
		opacity: 0.8;
		background: #C63437;
		color: #fff;
		border-radius: 3px 3px 0 0;
	}

	.md-content > div {
		padding: 25px;
		margin: 0;
		font-weight: 300;
		font-size: 1.15em;
		min-height: 300px;
	}

	.md-content > div p {
		margin: 0;
		padding: 10px 0;
	}

	.md-content > div ul {
		margin: 0;
		padding: 0 0 30px 20px;
	}

	.md-content > div ul li {
		padding: 5px 0;
	}

	.md-content button {
		margin: 0 auto;
		font-size: 1em;
	}


	.md-effect-8.md-modal {
		-webkit-perspective: 1300px;
		-moz-perspective: 1300px;
		perspective: 1300px;
	}

	.md-effect-8 .md-content {
		-webkit-transform-style: preserve-3d;
		-moz-transform-style: preserve-3d;
		transform-style: preserve-3d;
		-webkit-transform: rotateY(-70deg);
		-moz-transform: rotateY(-70deg);
		-ms-transform: rotateY(-70deg);
		transform: rotateY(-70deg);
		-webkit-transition: all 0.3s;
		-moz-transition: all 0.3s;
		transition: all 0.3s;
		opacity: 0;
	}

	.md-show.md-effect-8 .md-content {
		-webkit-transform: rotateY(0deg);
		-moz-transform: rotateY(0deg);
		-ms-transform: rotateY(0deg);
		transform: rotateY(0deg);
		opacity: 1;
	}

	.md-trigger  i{
		margin-top: 7px;
		font-size: 26px;
		left: 26px;
		position: absolute;
	}

	.md-trigger {
		font-size: 26px;
		margin-top: -1px;
		border-radius: 0px;
		width: 80px;
		height: 51px;
		position: absolute;
		left: 20px;
	}
	
	.btnrem {
		cursor: pointer;
		color: #C63437;
	}

	.md-trigger span.badge {
		position: absolute !important;
		top: 40px !important;
		left: 65px;
		border: 3px solid #fff;
		background-color: #4B4B4D !important;
		color: #fff !important;
		font-weight: bold;
	}

	.customSpinner {
		position: absolute;
		left: 0px;
		top: 0px;
		height: 100%;
		width: 100%;
		border-radius: 4px;
		background-color: rgba(255, 255, 255, 0.8);
		display: none;
	}

	.customSpinner img {
		position: absolute;
		left: 50%;
		top: 50%;
	}

	.basketTable tbody td {
		vertical-align: middle !important;
	}

	.basketimg {
		width: 50px;
		border-radius: 4px;
	}

	.sumTd {
		font-weight: bold;
		font-size: 20px;
	}

/*---------------------------------------------------------------
						Posts Page
---------------------------------------------------------------*/

	.page-header {
	    margin: 0;
	    color: orange;
	    position: relative;
	    padding: 15px 0 0 10px;
	    background-color: #f5f5f5;
	    border-top-right-radius: 4px;
	    border-top-left-radius: 4px;
	}
	.page-header h1 {
		position: relative;
		top: 2px;
		font-size: 1.3em;
		display: inline-block;
		border-bottom: 3px solid #C63437;
		margin: 0;
		padding: 0 20px 15px 20px;
		color: #555;
	}
	.page-header span.fa {
		position: absolute;
		top: 48px;
		right: -7px;
		cursor: default;
		color: #C63437;
	}
	
	.page-content{
		padding: 20px;
		border: 1px solid #eee;
	}

	input,
	textarea,
	select {
	    direction: rtl;
	    font-size: 1.2em;
	    line-height: normal !important;
	    padding: 7px 10px !important;
	    height: auto !important;
	}
	select{
	    padding: 6px 10px !important;
	}
	select optgroup {
	    padding: 10px;
	    font-family: FontAwesome, yekan,"Helvetica Neue",Helvetica,Arial,sans-serif;
	    color: #fec503;
	}
	select option{
	    color: #333;
	}
	select+option{
	    color: #999;
	}
	button[type=submit],
	button[type=reset]{
	    font-size: 1.1em !important;
	}
	input[type=file] {
	    overflow: hidden;
	    position: absolute;
	    opacity: 0;
	    width: 53px;
	    right: 0;
	    top: 0;
	    cursor: pointer;
	}
	input[type=text].fileInputText {
	    text-overflow: ellipsis;
	    white-space: nowrap;
	    overflow: hidden;
	}
	.fileInput .input-group-addon{
	    color: #fff;
	    border-color: #AD2D30;
	    background-color: #C63437;
	}

/*---------------------------------------------------------------
						Media Queries
---------------------------------------------------------------*/

    @media only screen and (max-width : 1200px) {
    	.isotope .item {
    		width: calc(33.333% - 14px);
    	}
    }

    @media only screen and (max-width : 992px) {
    	.isotope .item {
    		width: calc(50% - 14px);
    	}
    }

    @media only screen and (max-width : 768px) {
    	.isotope .item {
    		width: calc(50% - 14px);
    	}

    	.md-trigger {
    		left: 0 !important;
    	}
    }

    @media only screen and (max-width : 480px) {
    	.isotope .item {
    		width: 96%;
    		margin: 7px;
    	}
    }