body {
  font-family: 'yekan', arial;
  height: 2000px;
}

/*---------------------------------------------------------------
							Constants
---------------------------------------------------------------*/
	@font-face {
	    font-family:"yekan";
	    src: url("../fonts/Yekan.eot");
	    src: url("../fonts/Yekan.eot?#iefix")format("embedded-opentype"),
	    url("../fonts/Yekan.woff") format("woff"),
	    url("../fonts/Yekan.ttf") format("truetype");
	    font-weight: normal;
	    font-style: normal;
	}

	::selection {
		background: #C63437;
		color: #fff;
	}

	::-moz-selection {
		background: #C63437;
		color: #fff;
	}

	.noselect {
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none; 
	}

	.radius4 {
	    -webkit-border-radius: 4px 4px 4px 4px;
	    -moz-border-radius: 4px 4px 4px 4px;
	    -o-border-radius: 4px 4px 4px 4px;
	    border-radius: 4px 4px 4px 4px;
	}
	.shadow{
	    -webkit-box-shadow: 0px 0px 3px #666;
	    -moz-box-shadow: 0px 0px 3px #666;
	    -o-box-shadow: 0px 0px 3px #666;
	    box-shadow: 0px 0px 3px #666;
	}
	.insetShadow{
	    -webkit-box-shadow: 0px 6px 19px -8px rgba(0,0,0,0.5) inset;
	    -moz-box-shadow: 0px 6px 19px -8px rgba(0,0,0,0.5) inset;
	    -o-box-shadow: 0px 6px 19px -8px rgba(0,0,0,0.5) inset;
	    box-shadow: 0px 6px 19px -8px rgba(0,0,0,0.5) inset;
	}
	.transition {
	    -webkit-transition: all 0.5s ease;
	    -moz-transition: all 0.5s ease-in-out;
	    -o-transition: all 0.5s ease-in-out;
	    -ms-transition: all 0.5s ease-in-out;
	    transition: all 0.5s ease-in-out;
	}
	.transitionfast {
	    -webkit-transition: all 0.2s ease;
	    -moz-transition: all 0.2s ease-in-out;
	    -o-transition: all 0.2s ease-in-out;
	    -ms-transition: all 0.2s ease-in-out;
	    transition: all 0.2s ease-in-out;
	}
	.transitionslow {
	    -webkit-transition: all 1s ease;
	    -moz-transition: all 1s ease-in-out;
	    -o-transition: all 1s ease-in-out;
	    -ms-transition: all 1s ease-in-out;
	    transition: all 1s ease-in-out;
	}
	.btn-primary {
		background-color: #C63437;
		border-color: #9B2628;
	}
	.btn-primary:hover,
	.btn-primary:active,
	.btn-primary:focus {
		background-color: #9B2628;
	}
	.badge {
		background-color: #4B4B4D;
	}
	.navbar {
		border-radius: 0;
		border: 0;
		background-color: #4B4B4D;
	}
	.navbar-default .navbar-nav > li > a {
		color: #fff !important;
	}
	.navbar-nav > .open > a:hover,
	.navbar-default .navbar-nav > .open > a:focus {
		background-color: #333;
	}

	.navbar-nav > .active > a {
		background-color: #333 !important;
	}

/*---------------------------------------------------------------
							Products
---------------------------------------------------------------*/

	.isotope {}

	.isotope .item {
		width: 25%;
		height: 290px;
		width: calc(25% - 14px);
		margin: 7px;
		padding: 10px;
		text-align: center;
		border: 1px solid #ccc;
		background-color: #FFF;
	}

	.isotope .item:hover {
		border: 1px solid #C63437;
	}

	.isotope .item img {
		height: 200px;
		margin: 0 auto;
	}
/*
	.isotope .item img:hover {
		-webkit-transform: scale(1.2);
		-moz-transform: scale(1.2);
		-ms-transform: scale(1.2);
		-o-transform: scale(1.2);
		transform: scale(1.2);
	}*/

	.isotope .item p {
		margin-top: 10px;
	}

	.isotope .item button.btnadd {
		position: absolute;
		left: 10px;
		bottom: 10px;
		width: 40px;
		height: 40px;
		cursor: pointer;
	}

	.isotope .item button.btninfo {
		position: absolute;
		right: 10px;
		bottom: 10px;
		font-size: 1.3em;
		width: 40px;
		height: 40px;
	}

	.item div.myspinner img {
		width: 80%;
		height: 55%;
	}

	.item div.myspinner {
		height: 40px;
		position: absolute;
		left: 10px;
		bottom: 10px;
		width: 40px;
		display: none;
		padding-top: 8px;
	}

	#filters li button {
		border: 0;
		border-radius: 4px;
		background-color: rgb(198, 52, 55);
		padding: 5px 10px;
		color: #fff;
	}

	#filters li button:hover {
		background-color:#4B4B4D;
		padding: 5px 10px;
		color: #fff;
	}

/*---------------------------------------------------------------
						Cart Modal
---------------------------------------------------------------*/

	.btnrem {
		cursor: pointer;
		color: #C63437;
	}

	.badge {
		position: absolute;
		top: 40px;
		left: 100px;
		border: 3px solid #fff;
	}

	.customSpinner {
		position: absolute;
		left: 0px;
		top: 0px;
		height: 100%;
		width: 100%;
		border-radius: 4px;
		background-color: rgba(255, 255, 255, 0.8);
		display: none;
	}

	.customSpinner img {
		position: absolute;
		left: 50%;
		top: 50%;
	}

	.basketTable tbody td {
		vertical-align: middle !important;
	}

	.basketimg {
		width: 50px;
		border-radius: 4px;
	}

	.sumTd {
		font-weight: bold;
		font-size: 20px;
	}

/*---------------------------------------------------------------
						Media Queries
---------------------------------------------------------------*/

    @media only screen and (max-width : 1200px) {
    	.isotope .item {
    		width: 25%;
    		width: calc(25% - 14px);
    	}
    }

    @media only screen and (max-width : 992px) {
    	.isotope .item {
    		width: 33.333%;
    		width: calc(33.333% - 14px);
    	}
    }

    @media only screen and (max-width : 768px) {
    	.isotope .item {
    		width: 50%;
    		width: calc(50% - 14px);
    	}
    }

    @media only screen and (max-width : 480px) {
    	.isotope .item {
    		width: 100%;
    		margin: 7px 0;
    	}
    }